table {		
    border-collapse: collapse;		
    border-spacing: 0;		
}			
.black {		
  background-color: red;		
}		
.wrapper {		
    margin: 20px auto;		
    padding-bottom: 5%;		
    width: auto;		
    position: relative;		
    height: auto;		
    background: transparent;		
    /*	Etch A Sketch Like Apperance Option	
    background: -webkit-radial-gradient( #cc0000 50%, #800000 70%, #660000 95%);		
    background: -moz-radial-gradient( #cc0000 50%, #800000 70%, #660000 75%);		
    background: -o-radial-gradient( #cc0000 50%, #800000 70%, #660000 75%);		
    background: -ms-radial-gradient( #cc0000 50%, #800000 70%, #660000 75%);		
    background: -webkit-gradient ( #cc0000 50%, #800000 70%, #660000 95%);		
    background: radial-gradient ( #cc0000 50%, #800000 70%, #660000 95%);		
    */		
    -moz-border-radius: 15px;		
    -webkit-border-radius: 15px;		
    border-radius: 15px;		
    text-align: center;		
    /*	Etch A Sketch Like Apperance Option	
    -moz-box-shadow: inset 5px 5px 15px black, inset 5px 5px 10px #fff, inset -5px -5px 15px black;		
    -webkit-box-shadow: inset 5px 5px 15px black, inset 5px 5px 10px #fff, inset -5px -5px 15px black;		
    box-shadow: inset 5px 5px 15px black, inset 5px 5px 10px #fff, inset -5px -5px 15px black; 		
    */		
}		
.screen {			
    margin: 1em auto;		
    -o-border-radius: 10px;		
    -ms-border-radius: 10px;		
    -moz-border-radius: 10px;		
    -webkit-border-radius: 10px;		
    border-radius: 10px		
}		
.inner {		
    overflow: hidden;		
    height: 1%;		
    display: inline-block;		
    margin: auto;		
    border: 1px solid #fff;		
}		
.clearLeft {		
    clear: left;		
}		
	
h1 {		
    color: #fff;		
    font-weight: 200;		
    font-size: 2em;		
    padding-top: 0.5em;		
    -o-text-shadow: 1px -1px #333, 2px -3px #111, -1px 1px #aaa;		
    -ms-text-shadow: 1px -1px #333, 2px -3px #111, -1px 1px #aaa;		
    -webkit-text-shadow: 1px -1px #333, 2px -3px #111, -1px 1px #aaa;		
    -moz-text-shadow: 1px -1px #333, 2px -3px #111, -1px 1px #aaa;		
    text-shadow: 1px -1px #333, 2px -3px #111, -1px 1px #aaa;		
}		
.font {		
    font-family: "Pacifico", "Arial Black", Arial;		
}	
/* For Etch A Sketch Like Appearance 	
button {		
    background-color: #fff;		
    -o-border-radius: 50%;		
    -ms-border-radius: 50%;		
    -moz-border-radius: 50%;		
    -webkit-border-radius:50%;		
    border-radius: 50%;		
    height: 4em;		
    width: 4em;		
    font-weight: bold;		
    -o-box-shadow: 4px 6px 10px #111;		
    -ms-box-shadow: 4px 6px 10px #111;		
    -moz-box-shadow: 4px 6px 10px #111;		
    -webkit-box-shadow: 4px 6px 10px #111;		
    box-shadow: 4px 6px 10px #111		
}	
*/	
body {		
 background-image: url("../images/rainForest.jpg");		
 background-size: cover		
}

.one-columns{
    margin-top: 25%
}